.benefits {
  padding: 135px 0;
}
.benefits-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
}
.benefits-title__title {
  color: rgb(4, 27, 105);
  font-size: 42px;
  line-height: 1.23;
  font-weight: 600;
  font-family: "Roboto", Arial, sans-serif;
}
.benefits-title__description {
  color: rgb(4, 27, 105);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
}
.benefits-content {
  display: flex;
  flex-direction: column;
}
.benefits-block {
  max-width: 350px;
  padding-left: 110px;
  margin-left: 100px;
  padding-top: 40px;
  position: relative;
}
.benefits-block:nth-child(2n) {
  margin-left: auto;
  margin-right: 100px;
}
.benefits-block__title {
  color: rgb(4, 27, 105);
  font-weight: 700;
  font-size: 22px;
  line-height: 1.35;
  font-family: "Roboto", Arial, sans-serif;
}
.benefits-block__description {
  color: rgb(71, 79, 180);
  font-size: 16px;
  line-height: 1.55;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}
.benefits-block__number {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 200px;
  font-family: sans-serif;
  line-height: 150px;
  font-weight: 700;
  color: rgba(230, 230, 230, 0.7);
  opacity: 0.6;
  z-index: -1;
}
