.clients {
  width: 100%;
  padding: 150px 0;
}
.clients__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}
.clients__title {
  color: #041b69;
  font-size: 42px;
  font-family: "Arial", Arial, sans-serif;
  line-height: 1.55;
  font-weight: 700;
}
.clients__description {
  color: rgb(4, 27, 105);
  font-size: 24px;
  line-height: 1.5;
  font-weight: 300;
  font-family: "Roboto", Arial, sans-serif;
}
.clients__item {
  max-width: 160px;
}
.slider {
  width: 100%;
}
